html
  head
    title Matches
  body
    h1 MATCHES
    span
        a(href='/') Return to homepage
    br
    each i in matchdays
      h4 Matchday #{i}
      table(border="1")
        thead
          tr
            th Team 1
            th Team 2
            th Team 1 Score
            th Team 2 Score
        tbody
          each match in matches
            if match.matchday === i
              tr
                td= match.team1
                td= match.team2
                td= match.team1score
                td= match.team2score
    h1= league.replace(/-/g, ' ').toUpperCase()
    table(border="1")
      thead
        tr
          th Team
          th Wins
          th Draws
          th Losses
          th Points
      tbody
        each standing in standings
          tr
            td= standing[0]
            td= standing[1].wins
            td= standing[1].draws
            td= standing[1].losses
            td= standing[1].points